//sass --watch static/css/index.scss static/css/index.css

$orange-primary: #ffab00;
$orange-light: #ffd54f;
$dark: #212121;
$purple-light: #7e57c2;
$light: #ede7f6;

%primary-btn{
  background: $purple-light;
  color: $light;
}

%primary-btn-hover{
  background: $light !important;
  color: $purple-light !important;
}

%secondary-btn {
  background: $orange-primary;
  color: $dark;
}

%center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}



html, body {
    height: 100%;
    margin: 0;
    background: $dark;
    color: $light;
    word-wrap: break-word;
}

#main, #app {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.pointer {
    cursor: pointer;
}

#expand-menu {
 // position: fixed;
  bottom: 1.6em;
  right: 0.7em;

  &.hide{
    .add-content-menu {
      .content-menu-toggle a {
        transform: none !important;
      }
        span{
        transform: translateY(-2.5em) !important;
      }
    }
  }

  .add-content-menu{
    position: absolute;

    .content-menu-toggle a {
      transform: rotate(135deg);
      transition: all 0.4s ease;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .content-menu-toggle, span a {
      height: 2.5em;
      width: 2.5em;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $dark;
      clip-path: polygon(50% -50%,100% 50%,50% 150%,0 50%);
    }

    .content-menu-toggle {
      position: relative;
      background: $orange-primary;
      z-index: 3;
    }

    span {
      position: absolute;
      z-index: 1;
      transition: all 0.3s ease;
      a {
        &.bookmark {
          color: $purple-light;
        }
        background: $orange-light;
      }
    }
  }
}

#nav-page-name {
  color: $light;
}

.submit-btn {
  @extend %primary-btn;
}

.submit-btn-secondary {
  @extend %secondary-btn;
}

.cancel-icon {
  position: absolute;
  color: $purple-light;
}

.markdown-display {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  word-wrap: break-all;
}

pre {
  background: $light;
}

.timestamp-link {
  color: $purple-light;
  text-decoration: underline;
  cursor: pointer;
}

.spinner-div {
  @extend %center-flex;
  flex-direction: column;
  height: 10em;
  color: $orange-light;
}

.show-flex {
  display: flex;
}

.no-show {
  display: none;
}

.note-heading {
  border-left: 5px solid $purple-light;
  padding-left: 0.5em;
}

.title-input, .title-display{
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.title-display {
  background-color: $purple-light;
  color: $light;
  @extend %center-flex;
  width: 100%;
  display: inline-block;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: normal;
  line-break: strict;
  hyphens: none;
  padding: 5px;
}

#nav-page-name {
  color: $orange-light;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 5px 10px 0px;
  text-transform: uppercase;
  border-bottom: 2px double $orange-primary;
}

.card {
  background-color: $dark;
  color: $light;
  border: none;
  border: 2px solid $light;

}

.page-link {
  @extend %primary-btn;
  border: 2px solid $dark;

  &.current, &:hover, &.disabled {
    @extend %primary-btn-hover;
  }
}


.paginator-dropdown-menu {
  max-height: 10em;
  overflow-y: scroll;
  width: 1em;
  max-width: 1em;
  @extend %primary-btn-hover;

  .dropdown-input {
    position: sticky;
    top: 0;
    padding: 0 5px 0;

    input {
      max-width: 100%;
      background-color: $purple-light;
      color: $light;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*input[type=number] {
  -moz-appearance: textfield;
}*/

label::first-letter {
  text-transform: capitalize;
}

a {
  cursor: pointer;

  small {
    color: $purple-light;
  }
}

.checkbox-container {
    input[type=checkbox] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ label {
      color: $light;
    }
    &:checked ~ label:after {
      transition: all 1s ease;
      content: '';
      transform: translateY(0);
      background: $purple-light;
      
    }
  }

  label {
    margin: 0 1em 0;
    color: $orange-light;
    width: 100%;
    font-size: small;

    &:after {
      transition: all 0.5s ease;
      content: '';
      transform: translateY(-0.9em);
      position: absolute;
      height: 2px;
      width: 80%;
      left: 10%;
      bottom: -2px;
      background: $orange-light;
    }
  }
}

.filter-container{
  &>label {
    background-color: $purple-light;
    @extend %center-flex
  }
  margin: 0px 0px 2em
}

.homepage-title {
  text-transform: capitalize;
  font-size: medium;
  height: 100%;
}

@keyframes soundwave1 {
  0% {
    transform: scaleY(.2);
  }
  25%{
    transform: scaleY(.1)
  }
  50%{
    transform: scaleY(.05);
  }
  100%{
    transform: scaleY(.2);
  }
}
@keyframes soundwave2 {
  25%{
    transform: scaleY(.3);
  }
  50%{
    transform: scaleY(.2);
  }
  75%{
    transform: scaleY(.1);
  }
}
@keyframes soundwave3 {
  0% {
    transform: scaleY(0.3);
  }
  25%{
    transform: scaleY(.2);
  }
  50%{
    transform: scaleY(.1);
  }
  75%{
    transform: scaleY(.2);
  }
  100% {
    transform: scaleY(.3);
  }
}

.soundwave-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  

  .soundwave {
    height: 100%;
    background: $dark;
    width: 3px;
    margin-left: 1px;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

    &:nth-child(1), &:nth-child(5) {
      transform: scaleY(.1);
    }
    &:nth-child(2), &:nth-child(4) {
      transform: scaleY(.25);
    }
    &:nth-child(3) {
      transform: scaleY(.3);
    }
  }

  &.active {
    .soundwave:nth-child(1) {
      animation-name: soundwave1;
    }
    .soundwave:nth-child(2){
      animation-name: soundwave2;
    }
    .soundwave:nth-child(3) {
      animation-name: soundwave3;
    }
    .soundwave:nth-child(4) {
      animation-name: soundwave2;
    }
    .soundwave:nth-child(5) {
      animation-name: soundwave1;
    }
  }
}
