.page-link, .submit-btn {
  background: #7e57c2;
  color: #ede7f6;
}

.paginator-dropdown-menu, .page-link.current, .page-link:hover, .page-link.disabled {
  background: #ede7f6 !important;
  color: #7e57c2 !important;
}

.submit-btn-secondary {
  background: #ffab00;
  color: #212121;
}

.title-display, .spinner-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

html, body {
  height: 100%;
  margin: 0;
  background: #212121;
  color: #ede7f6;
  word-wrap: break-word;
}

#main, #app {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.pointer {
  cursor: pointer;
}

#expand-menu {
  bottom: 1.6em;
  right: 0.7em;
}
#expand-menu.hide .add-content-menu .content-menu-toggle a {
  transform: none !important;
}
#expand-menu.hide .add-content-menu span {
  transform: translateY(-2.5em) !important;
}
#expand-menu .add-content-menu {
  position: absolute;
}
#expand-menu .add-content-menu .content-menu-toggle a {
  transform: rotate(135deg);
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
#expand-menu .add-content-menu .content-menu-toggle, #expand-menu .add-content-menu span a {
  height: 2.5em;
  width: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #212121;
  clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
}
#expand-menu .add-content-menu .content-menu-toggle {
  position: relative;
  background: #ffab00;
  z-index: 3;
}
#expand-menu .add-content-menu span {
  position: absolute;
  z-index: 1;
  transition: all 0.3s ease;
  /*&:nth-child(2) {
    transform: translateY(-5.1em);
  }*/
  /*&:nth-child(3) {
     transform: translateX(-2em) translateY(-3.8em);
   }
   &:nth-child(4) {
     transform: translateX(-2em) translateY(-1.2em);
   }*/
}
#expand-menu .add-content-menu span a {
  background: #ffd54f;
}

#nav-page-name {
  color: #ede7f6;
}

.cancel-icon {
  position: absolute;
  color: #7e57c2;
}

.markdown-display {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  word-wrap: break-all;
}

pre {
  background: #ede7f6;
}

.timestamp-link {
  color: #7e57c2;
  text-decoration: underline;
  cursor: pointer;
}

.spinner-div {
  flex-direction: column;
  height: 10em;
  color: #ffd54f;
}

.show-flex {
  display: flex;
}

.no-show {
  display: none;
}

.note-heading {
  border-left: 5px solid #7e57c2;
  padding-left: 0.5em;
}

.title-input, .title-display {
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.title-display {
  background-color: #7e57c2;
  color: #ede7f6;
  width: 100%;
  display: inline-block;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: normal;
  line-break: strict;
  hyphens: none;
  padding: 5px;
}

.view-note-div {
  padding-top: 1em;
}

#nav-page-name {
  color: #ffd54f;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 5px 10px 0px;
  text-transform: uppercase;
  border-bottom: 2px double #ffab00;
}

.card {
  background-color: #212121;
  color: #ede7f6;
  border: none;
  border-bottom: 2px solid #ede7f6;
}

.page-link {
  border: 2px solid #212121;
}
.paginator-dropdown-menu {
  max-height: 10em;
  overflow-y: scroll;
  width: 1em;
  max-width: 1em;
}
.paginator-dropdown-menu .dropdown-input {
  position: sticky;
  top: 0;
  padding: 0 5px 0;
}
.paginator-dropdown-menu .dropdown-input input {
  max-width: 100%;
  background-color: #7e57c2;
  color: #ede7f6;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*input[type=number] {
  -moz-appearance: textfield;
}*/
label::first-letter {
  text-transform: capitalize;
}

/*# sourceMappingURL=index.css.map */
